body {text-align: center; background-color: #4B5358; color: #727072; font-family: Verdana;}
div {background-color: #D2D6EF;}
footer {background-color: #4B5358; padding:10px; color: white;position: relative; bottom: -10px;}
.jumbotron {background-color: black; color: white; font-family: Great Vibes;}
.lower {font-family: Tangerine;}
.redrow {background-color: black; color: white; font-family: Arial;}
h1, h2, h3, h4 {color: #104547;}
h5 {color: #AF929D;}
